# Diretórios de compilação
build/
simulation/
out/
bin/
*.log

# Arquivos temporários e de backup
*.bak
*.tmp
*.swp
*.swo
*.dSYM/
*.vcd

# Arquivos específicos do simulador
*.wlf
*.fdb_lf
*.fdb

# Arquivos de configuração de IDE
*.settings/
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos de projetos do Quartus
*.qsf
*.qpf
db/
incremental_db/

# Outros arquivos de log ou temporários
*.tcl
*.json
*.txt